<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
<body>
  <%- include('partials/header'); %>
  <main class="site-content">
    <div>
        <h2>Add A New Patient</h2>
        <form class=""  method="POST" action="/patient">
            <label for="">First Name<input id="" type="text" placeholder="" required></label>
            <label for="">Last Name<input id="" type="text" placeholder="" required></label>
            <button>Submit</button>
        </form>
    </div>
    <div>
      <h2>Patients</h2>
      <ul>          
        <li>
          <span>ID</span>
          <span>Last</span>
          <span>First</span>
        </li>
        <% patients.forEach( patient => {  %>
          <li>
            <a href="/patient/<%= patient.id %>"> 
            <span><%= patient.id %></span>
            <span><%= patient.last_name %></span>
            <span><%= patient.first_name %></span> 
            </a>
          </li>
        <% }) %>
      </ul>
  </div>
  </main>  
  <%- include('partials/footer'); %>
</body>
</html>