<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Med Words'}); %>

<body>
  <%- include('partials/header'); %>
  <% if (deleted) { %>
    <p>Patient successfully deleted!</p>
  <% } %>
  <main class="site-content">
    <div id="add-patient" class="form-container index-div-height">
      <div class="page-header">
        <h2>Add A New Patient</h2>
      </div>
      <form class="form" method="POST" action="/patient">
        <div class="inputs-form">
          <p><input class="username input" name="first_name" type="text" placeholder="First Name" required></p>
          <p><input class="lastname input" name="last_name" type="text" placeholder="Last Name" required></p>
          <button class="submit">Submit</button>
        </div>
      </form>
    </div>
    <span class="floated-title grab-span"><h2>Search Existing Patient</h2></span>    
    <div  id="search-patient" class="under-form">
      <input type="text" id="myInput" class="input" onkeyup="filterPatients()" placeholder="Search for patient names..">
      <h2>Patients</h2>
      <p class="search-patient-label">
        <span>ID</span>
        <span>Last</span>
        <span>First</span>
      </p>
      <ul id="patient-list">
        <% patients.forEach( patient => {  %>
          <li>
            <a href="/patient/<%= patient.id %>"> 
              <p class="search-patient-label">
                <span><%= patient.id %></span>
                <span><%= patient.last_name %></span>
                <span><%= patient.first_name %></span> 
              </p>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>    
  </main>
  <%- include('partials/footer'); %>
</body>

</html>