<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>

<body>
  <%- include('partials/header'); %>
  <main class="site-content">

    <div class="form-container">
      <div class="page-header">
        <h2>Add A New Patient</h2>
      </div>
      <form class="form" method="POST" action="/patient">
        <div class="inputs-form">
          <p><input class="username input" type="text" placeholder="First Name" required></p>
          <p><input class="lastname input" type="text" placeholder="Last Name" required></p>
          <button class="submit">Submit</button>
        </div>
      </form>
    </div>
    <span class="floatedOr"><h3>or</h3></span>
    <div class="input-header">
    </div>
    <div class="under-form">
      <input type="text" id="myInput" class="input" onkeyup="myFunction()" placeholder="Search for patient names..">
      <h2>Patients</h2>
      <ul id="patient-list">
        <li>
          <span>ID</span>
          <span>Last</span>
          <span>First</span>
        </li>
        <% patients.forEach( patient => {  %>
          <li>
            <a href="/patient/<%= patient.id %>"> 
            <span><%= patient.id %></span>
            <span><%= patient.last_name %></span>
            <span><%= patient.first_name %></span> 
            </a>
          </li>
        <% }) %>
      </ul>
    </div>    
  </main>
  <%- include('partials/footer'); %>
</body>

</html>