<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>

<body>
  <%- include('partials/header'); %>
  <main class="site-content">

    <div class="form-container">
      <div class="page-header">
        <h2>Add A New Patient</h2>
        <form class="form"  method="POST" action="/patient">
            <p><label for="fname">First Name<input id="fname" class="username input" type="text" placeholder="" name="first_name" required></label></p>
            <p><label for="lname">Last Name<input id="lname" type="text" class="lastname input" placeholder="" name="last_name" required></label></p>
            <button>Submit</button>
        </form>
    </div>
    
    <div class="under-form">
        <% if (deleted) { %>
          <p> Patient successfully deleted!</p>
        <% } %>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for patient names..">
      <h2>Patients</h2>
      <ul id="patient-list">
        <li>
          <span>ID</span>
          <span>Last</span>
          <span>First</span>
        </li>
        <% patients.forEach( patient => {  %>
          <li>
            <a href="/patient/<%= patient.id %>"> 
            <span><%= patient.id %></span>
            <span><%= patient.last_name %></span>
            <span><%= patient.first_name %></span> 
            </a>
          </li>
          <form action="/patient/<%= patient.id %>/analyze" method="POST">
            <button>Analyze</button>
          </form>
        <% }) %>
      </ul>
    </div>    
  </main>
  <%- include('partials/footer'); %>
</body>

</html>