<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Key Phrases'}); %>
<body>
  <%- include('../partials/header'); %>
  <h1>Key Phrases:</h1>
  <main>
      <ul>
        <% phrases.forEach( phrase => {  %>
          <li><%= phrase %></li>
        <% }) %>
      </ul>
  </main>
  <a href="/patient/<%= patient_id %>">Back</a>
  <%- include('../partials/footer'); %>
</body>
</html>