<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Key Phrases'}); %>
<body>
  <%- include('../partials/header', {location: 'patient'}); %>
  <a class="submit back" href="/patient/<%= patient_id %>">â† Back</a>
  <h1 class="keyword-header">Key Phrases:</h1>
  <main class="kp-main">
      <ul class="keyword-list">
        <% phrases.forEach( phrase => {  %>
          <li class="keyword"><%= phrase %></li>
        <% }) %>
      </ul>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>