<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<% if (added) { %>
    <p>Patient successfully added!</p>
  <% } %>
<div class="">
    <h2>Patient Details:</h2>
    <p><%= patient.last_name %>, <%= patient.first_name %></p>
</div>

<div class="">
    <form class="" method="POST" action="/patient/:patientId/analyze">
        <button>Analyze Keywords</button>
    </form>
    <form class="" method="DELETE" action="/patient/:patientId">
        <button>Delete Patient</button>
    </form>
</div>

<div>
    <h2>Add A New Patient Record</h2>
    <form class=""  method="POST" action="/record">
       <input id="" type="hidden" name="patient_id" value="<%= patient.id %>">
        <label for="">Record Title<input id="" type="text" placeholder="" name="title" required></label>
        <label for="">Description<input id="" type="text" placeholder="" name="description" required></label>
        <button>Submit</button>
    </form>
</div>

<div>
    <h2>Patient's Records</h2>
    <ul>
        <li>
            <span>DATE</span>
            <span>TITLE</span>
        </li>
        <% records.forEach( record => {  %>
            <li>
                <a href="/record/<%= record.id %>">
                <span><%= record.date %></span>
                <span><%= record.title %></span>
                </a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer'); %>